.drawer{
  background-color: $primary;
  .header{
    text-align: center;
    margin-bottom: 100px;
  }
  .link{
    color: $white;
    padding: 20px 0 20px 20px ;
    .icon{
      color: $warning;
    }
    transition: background-color ease-in 200ms;
    &:hover{
      background-color: rgba($white, 0.15);
    }
  }
  .active{
    background-image: linear-gradient(to right, $primary, 85%, $warning);
  }
}
