
.pointer-cursor {
  cursor: pointer;
}

.border {
  border: 1px solid #aaa;
}

.full-page-width {
  min-height: 100vh;
}

.no-bg{
  background: none;
}

.text-bold{
  font-weight: 600;
}

.text-xs{
  font-size: 65%;
}

.text-md{
  font-size: 90%;
}

.text-lg{
  font-size: 150%;
}

.text-xl{
  font-size: 200%;
}

.text-bolder{
  font-weight: 900;
}

.text-muted{
  color: $accent;
  font-size: 80%;
  &-bold{
    @extend .text-muted;
    @extend .text-bold;
  }
  &-bolder{
    @extend .text-muted;
    @extend .text-bolder;
  }
}

.bg-white{
  background-color: $white;
}

.bg-red-light{
  background-color: rgba($negative, 0.1);
}

.bg-warning-light{
  background-color: rgba($warning, 0.1);
}

.bg-positive-light{
  background-color: rgba($positive, 0.1);
}

.bg-primary-light{
  background-color: rgba($primary, 0.1);
}

.bg-5talks{
  background-color: #333;
}

.border-radius-5{
  border-radius: 5px;
}

.no-border{
  border: none;
}

.space-between{
  justify-content: space-between;
}

.space-around{
  justify-content: space-around;
}

.text-muted{
  color: $accent;
  font-size: 80%;
}

.h-20{
  height: 20px !important;
}
