// app global css in SCSS form

.text-light {
  color: $white;
}

.text-info {
  color: $info;
}

.text-warning {
  color: $warning;
}
.pointer-cursor {
  cursor: pointer;
}
.border {
  border: 1px solid #aaa;
}

.logo-sm {
  max-height: 80px;
  max-width: 80px;
}

.form-label {
  color: $info;
  font-size: 80%;
  font-weight: 600;
  padding: 5px 0 5px 2px;
}

.form-input {
  background-color: $light-grey;
  border: none;
  border-radius: 5px;
}

.input-wrap {
  margin: 30px 0 30px 0;
}

.form-submit-button {
  background-color: $info;
  width: 100%;
  color: $primary;
  padding: 10px 0 10px 0;
}

.small-text {
  font-size: 80%;
}

.oauth-links {
  max-height: 30px;
  display: inline;
}

.form-checkbox {
  color: $warning;
}

.header-bg {
  background: rgba(82, 217, 114, 0.08);
}

.full-page-width {
  min-height: 100vh;
}
