// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #06b22f;
$secondary: #52d972;
$accent: #979797;
$white: #fff;

$dark: #1d1d1d;

$positive: #0077b5;
$negative: #c10015;
$info: #ffd500;
$warning: #f2c037;

$light-grey: #eee;
